body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top left, #43cea2, #185a9d);
}

#super-container {
  /* Överordnad container som innehåller de mindre */
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: column;
  align-items: center; /* Justera mot horisontell mitt */
  width: 100%;
  padding: 3%; /* Marginal mot webbläsarfönstret */
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  /* border: solid; */
}

#header-container {
  /* Statisk text */
  display: flex;
  font-family: sans-serif;
  font-size: 48px;
  line-height: 1.3;
  width: 90%;
  height: 10vh;
  padding: 5%;
  align-items: center; /* Vertikalt centrerad */
  justify-content: center; /* Horisontellt centrerad */
  text-align: center;
  color: white;
  background-color: transparent;
  /* border: solid; */
  /* border-width: 1.5px; */
  /* bordr-color: black; */
}

#output-container {
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: row;
  justify-content: center; /* Centrering på raden, dvs horisontellt */
  align-items: center;
  width: 80%;
}

#text-output-container {
  /*Rutan som textutmatningen sker i*/
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: row;
  font-family: serif;
  font-size: 18px;
  color: yellow;
  margin: 1%;
  width: 30%;
  height: 50vh;
  padding: 2%;
  text-align: left;
  border: dashed;
  border-color: black;
  border-width: 1.5px;
  border-radius: 15px; /* Rundade hörn */
  /*display: none;*/
}

#image-output-container {
  /*Rutan som bildutmatningen sker i*/
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centering i kolumnen, dvs vertikalt */
  text-align: center; /* Horisontell centrering av text */
  background-color: lightblue; /* Man sätta bakgrundsfärg som är skild från sidans bakgrund */
  font-family: serif;
  font-size: 48px;
  color: black;
  margin: 1%;
  width: 70%;
  height: 50vh;
  padding: 2%;
  border: dashed;
  border-color: black;
  border-width: 1.5px;
  border-radius: 15px; /* Rundade hörn */
  display: none;
}
