body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top left, #43cea2, #185a9d);
}

#super-container {
  /* Överordnad container som innehåller de mindre */
  display: flex; /* Flex ger ett rutmönster */
  flex-direction: column;
  width: 100%;
  padding: 3%; /* Marginal mot webbläsarfönstret */
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  align-items: center; /* Justera mot horisontell mitt */
  /* border: solid; */
}

#header-container {
  /* Statisk text */
  display: flex;
  font-family: sans-serif;
  font-size: 48px;
  line-height: 1.3;
  width: 90%;
  height: 10vh;
  padding: 5%;
  align-items: center; /* Vertikalt centrerad */
  justify-content: center; /* Horisontellt centrerad */
  text-align: center;
  color: white;
  background-color: transparent;
  /* border: solid; */
  /* border-width: 1.5px; */
  /* border-color: black; */
}

#output-container {
  /*Rutan som utmatningen sker i*/
  font-family: serif;
  font-size: 18px;
  color: yellow;
  margin: 1%;
  width: 100%;
  height: 50vh;
  max-width: 70%; /* Bli inte hur bred som helst */
  padding: 2%;
  text-align: left; /* Justera mot horisontell mitt */
  border: dashed;
  border-color: black;
  border-width: 1.5px;
  border-radius: 15px; /* Rundade hörn */
  display: none;
}
